/* Common means applied to whole page */
body {
    margin: 0;
    font-family: arial;
    background-color: #f2f6ff;
}

* {
    box-sizing: border-box;
}

/* Header */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    /* border-bottom: 1px solid black; */
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 1px #ccc;
}

header p {
    margin: 0;
}

header .left {
    /* background-color: red; */
    display: flex;
    align-items: center;
}

header .left img {
    margin-right: 40px;
    height: 51px;
}

header .left .dropdown {
    position: relative;
    padding: 20px;
    color: #000;
    /* icon & name displayed side by side */
    display: contents;
}

header .left .dropdown .icon {
    cursor: pointer;
}

.icon .dropdown-content {
    margin: auto;
    align-items: center;
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    z-index: 0;
}

.dropdown ul {
    list-style-type: none;
    text-align: center;
}

header .left .dropdown .icon .dropdown-content ul li a {
    color: grey;
    text-decoration: none;
    justify-content: center;
}

.dropdown-content li a:hover {
    background-color: black;
    display: flex;
}

header .left .dropdown .icon:hover .dropdown-content {
    cursor: pointer;
    display: block;
}

header .right {
    /* background-color: green; */
    display: flex;
    align-items: center;
}

header .right p {
    color: grey;
}

header .right a {
    margin-left: 40px;
    background-color: blue;
    color: white;
    padding: 10px 25px;
    border-radius: 40px;
    text-decoration: none;
    background-image: linear-gradient(269deg, #0048ff, #0096ff);
}

/* Main */
main {
    padding: 10px 50px;
    padding-top: 75px;
    /* Next two lines makes filter and post & its content in the middle even though we press Ctrl + - also. */
    max-width: 1200px;
    margin: 0 auto;
}

main p {
    display: flex;
    align-items: center;
}

main p img {
    width: 24px;
    margin-right: 5px;
}

/* filter buttons */
.filters button {
    color: #0084ff;
    padding: 6px 16px;
    border-radius: 15px;
    border: 1px solid #0084ff;
    margin: 5px;
    cursor: pointer;
}

.filters button:hover,
.filters button.active {
    background-image: linear-gradient(269deg, #0048ff, #0096ff);
    color: white;
}

/* posts */
.posts {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts .post {
    width: 30%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 168, 255, .3);
    background-color: white;
}

.posts .post img {
    width: 100%;
}

.posts .post .content {
    padding: 20px;
}

.posts .post .content .text {
    font-size: 14px;
    /* padding: 20px; */
    color: rgba(0, 0, 0, .6);
    text-align: justify;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    --max-lines: 5;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;

}

.posts .post .content p span {
    color: #0096ff
}

/* Footer */
footer {
    background-color: #172146;
    height: 300px;
    color: antiquewhite;
    text-align: left;
    padding: 20px;
    margin: auto;
}

footer .address {
    line-height: 1.3em;
}

.fa-envelope {
    font-size: 25px;
}

.mail {
    color: white;
    text-decoration: none;
}

footer .connect a {
    /* margin: 0 15px; */
    font-size: 25px;
    color: rgb(218, 218, 218);
    cursor: pointer;
}


footer .fwhiterow {
    color: #424242;
    text-align: center;
    background: #fff;
    padding: .5%;
    font-size: 13px;
    margin: auto;
}